
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trispace:wght@100..800&display=swap');

*{
    font-family: 'Open Sans';
 
}



.bg-light-orange{
    background-color: #FCBA64;
}

.f-14{
    font-size: 13px;
}

.header li{
    margin-bottom: 0px;
    border-right: solid 1px white;
    padding-right: 10px;
    list-style: none;
}

#nav li,a{
    font-size: 15px;
    color: black;
}

.bg-green{
    background-color: #7EA170;
}

.hover-menu{
    position: relative;
}

.hover-menu:hover .hover-menu-items{
    display: block;
    opacity: 1;
}

.hover-menu-items{
    position: absolute;
    z-index: 999;
    list-style: none;
    padding-left: 2px;
    top: 100%;
    display: none;
    transition: all 0.5s;
    opacity: 0;
    background-color: white;
   
   
}

.border-bottom-orange{
    border-bottom: #FCBA64 2px solid;
}

.accordion-button::after,.accordion-button:not(.collapsed)::after{
    background-image: none;
    font-size: 1.5rem !important;
    
    width: 0px !important;
}

.accordion-button:not(.collapsed)::after{
    content: "-";
    
}

.accordion-button::after{
    content: "+";
}

.hover-menu-items li{
    margin-bottom: 3px;
    margin-top: 3px;
     transition: all 0.5s;
}
.hover-menu-items li:hover{
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #FCBA64;
}

.img-banner{
    background-image: url(../assets/images/header-coimbatore.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.f-30{
    font-size: 27px;
    
}

.border-radius-video{
    height: fit-content;
}

.f-24{
    font-size: 22px;
    text-align: justify;
    
}

.link-decor a{
    color: rgb(0, 145, 255);
    font-weight: bold;
    text-decoration: none;
}

.link-decor a:hover{
    color: black;
}

.text-red-orange{
    background: linear-gradient(to bottom, rgb(247, 56, 56) 10%,rgb(245, 181, 64));
    background-clip: text;
    color: transparent;
    line-height: 130%;
}

.house-carousel-wrap,.retirement-carousel-wrap,.resident-carousel-wrap{
    height: fit-content;
}


.fs-small{
    font-size: 10px;
}

.house-carousel img{
  width: 100%;
  height: 30vh;
}

.retirement-carousel img{
    height: 210px;
    width: 210px;
}

.house-carousel p{
    text-align: start;
}

.house-carousel div, .retirement-carousel div{
    height: fit-content;
}

.w-fit{
    width: fit-content;
}

.slick-next:before,.slick-prev::before{
    color: #7EA170;
}

.bg-pale-green{
    background-color: #CAD5BF;
}

.bg-pale-orange{
    background-color: #FBEBD2;
}

.accordion-button{
     background-color: #FBEBD2 !important; 
}

.accordion-button:not(.collapsed){
  background-color: #fdc162 !important; 
} 

.foot-link{
    color: #7EA170;
    text-decoration: none;
}

.foot-link:hover{
    color:white
}

.cursor-pointer{
    cursor: pointer;
}

.nav-item:hover, .nav-item a:hover{
    cursor: pointer ;
    color: rgb(251, 51, 51) !important;
    transition: all 0.5s;
}

.border-striped{
    border-bottom : dashed 1px rgba(128, 128, 128, 0.425)
}

.blink{
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-width:760px) and (max-width:992px   ) {
    .img-banner{
        height: 60vh;
    }
  
}

@media (max-width:992px   ){
  .retirement-carousel img{
  width: 100%;
  height: 40vh;
    }
}


